@import "gjklg.css";
@import "hack.css";

:root {
    --md-text-custom-font: "cpr";
    --md-code-font: "Hack";
}

.md-grid {
    max-width: 75rem;
}

 
.md-content p {
    font-family: var(--md-text-custom-font);
}

.md-content li {
    font-family: var(--md-text-custom-font);
}

.md-path .md-ellipsis {
    font-family: var(--md-text-font);
}

.font-reset {
    font-family: var(--md-text-font);
}

.md-ellipsis {
    font-family: var(--md-text-custom-font);
}
.cards  {
    li p {
        font-family: var(--md-text-font);
    }
}

.md-nav .md-ellipsis {
    font-family: var(--md-text-font);
}

html {
    font-size: 125%;
}

@media screen and (min-width: 100em) {
    html {
        font-size:125%
    }
}

@media screen and (min-width: 125em) {
    html {
        font-size:125%
    }
}

.md-typeset .admonition {
    font-size: 0.75rem;
}


[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #136074;
  }

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #136074;
  }

[data-md-color-scheme="default"] .disabled {
    color: lightgray;
}

[data-md-color-scheme="slate"] .disabled {
    color: rgb(63, 63, 63);
}