@import "hack.css";

:root {
    --md-primary-fg-color:        #222433;
    --md-code-font: "Hack";
}

.md-grid {
    max-width: 80rem;
}

html {
    font-size: 125%;
}

@media screen and (min-width: 100em) {
    html {
        font-size:125%
    }
}

@media screen and (min-width: 125em) {
    html {
        font-size:125%
    }
}