@font-face {
    font-family: 'cpr';
    src: url('https://gedankenflut.org/assets/fonts/r_khjfklhj546.eot');
    src: url('https://gedankenflut.org/assets/fonts/r_khjfklhj546.eot?#iefix') format('embedded-opentype'),
         url('https://gedankenflut.org/assets/fonts/r_khjfklhj546.woff2') format('woff2'),
         url('https://gedankenflut.org/assets/fonts/r_khjfklhj546.woff') format('woff'),
         url('https://gedankenflut.org/assets/fonts/r_khjfklhj546.ttf') format('truetype'),
         url('https://gedankenflut.org/assets/fonts/r_khjfklhj546.svg#calendas_plusregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'cpr';
    src: url('https://gedankenflut.org/assets/fonts/i_lkbhs77.eot');
    src: url('https://gedankenflut.org/assets/fonts/i_lkbhs77.eot?#iefix') format('embedded-opentype'),
         url('https://gedankenflut.org/assets/fonts/i_lkbhs77.woff2') format('woff2'),
         url('https://gedankenflut.org/assets/fonts/i_lkbhs77.woff') format('woff'),
         url('https://gedankenflut.org/assets/fonts/i_lkbhs77.ttf') format('truetype'),
         url('https://gedankenflut.org/assets/fonts/i_lkbhs77.svg#calendas_plusregular') format('svg');
    font-weight: italic;
    font-style: italic;
}
@font-face {
    font-family: 'cpr';
    src: url('https://gedankenflut.org/assets/fonts/b_ljkhgfljk5.eot');
    src: url('https://gedankenflut.org/assets/fonts/b_ljkhgfljk5.eot?#iefix') format('embedded-opentype'),
         url('https://gedankenflut.org/assets/fonts/b_ljkhgfljk5.woff2') format('woff2'),
         url('https://gedankenflut.org/assets/fonts/b_ljkhgfljk5.woff') format('woff'),
         url('https://gedankenflut.org/assets/fonts/b_ljkhgfljk5.ttf') format('truetype'),
         url('https://gedankenflut.org/assets/fonts/b_ljkhgfljk5.svg#calendas_plusregular') format('svg');
    font-weight: bold;
    font-style: bold;
}